[Desktop Entry]
Encoding=UTF-8
Name=zAppRun
MimeType=application/x-extension-cmg;
Exec='/usr/bin/zAppRun'
Type=Application
Terminal=false
NoDisplay=true
