[Desktop Entry]
Comment=
Exec=cmgrun %U
Icon=view_remove
InitialPreference=2
MimeType=application/x-extension-cmg;Application
Name=
ServiceTypes=
Terminal=false
Type=Application
